<h3>List Of Valid Feed Urls</h3>

<ol>
  <li>https://weblog.rubyonrails.org/feed/atom.xml</li>
  <li>https://timesofindia.indiatimes.com/rssfeeds/4719148.cms</li>
  <li>https://www.indiatoday.in/rss/1206578</li>
</ol> 
